@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-boxs;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  /* border: 1px solid red; */
}
header {
  background-color: rgb(209, 62, 36);
  color: white;
}
.head-content {
  width: 90%;
  margin: auto;
  overflow: hidden;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  padding: 10px;
  position: static;
}
.title h3 {
  margin: 0;
  /* padding-top: 30px; */
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
  /* border: 1px solid red; */
}
.title p {
  margin: 0;
  font-size: 14px;
  padding-left: 5px;
}
.form-register {
  /* border: 1px solid red; */
  margin: auto;
  float: left;
  width: 35%;
  text-align: center;
}
.title {
  float: left;
  width: 65%;
}
.login {
  margin-left: 70px;
}
.regis {
  margin-left: 25px;
}
.bungkus {
  position: relative;
  /* display: inline-block; */
}
a {
  text-decoration: none;
  color: white;
  font-size: 15;
}
.inp {
  margin-left: 60px;
  padding: 10px 10px;
  width: 30%;
  border-color: white;
  background-color: rgb(209, 62, 36);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  outline: none;
}
.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 4px;
  color: white;
  opacity: 0.5;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.head-content::after {
  content: "";
  display: table;
  clear: both;
}
.nav {
  background-color: white;
  /* border: none; */
  border-bottom: 1px solid black;
}
.nav a {
  color: black;
  margin-right: 40px;
  margin-left: 5px;
  font-size: 14px;
}
.nav a:hover {
  color: blue;
  transition: 0.3s;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}
.nav-conten {
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.top-head {
  background-color: white;
  /* border: none; */
  border-bottom: 1px solid black;
}
.wrap {
  width: 90%;
  margin: auto;
  overflow: hidden;
  /* margin: 20px; */
  /* padding-bottom: 30px; */
  border: 1px solid black;
}
.card {
  margin: 10px;
}
