@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: skyblue;
  font-family: "Montserrat", sans-serif;
}
.header {
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
  /* border: 1px solid salmon; */
  /* margin: auto; */
}

.content {
  text-align: center;
  /* color: white; */
  /* margin: 10px; */
  width: 550px;
  /* border: 1px solid red; */
}
.content p {
  /* color: white; */
  margin: 10px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(46, 45, 45);
}
.content h2 {
  /* color: white; */
  margin: 10px;
  font-size: 50px;
  font-weight: 700;
  color: black;
}
.content p ~ p {
  /* color: white; */
  font-size: 16px;
  color: rgb(46, 45, 45);
  margin: 15px;
}
.content p ~ p ~ p {
  /* color: white; */
  font-size: 12px;
  color: rgb(46, 45, 45);
  /* margin: 15px; */
}

.form-input {
  text-align: center;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-input input {
  padding: 0 5px 0 5px;
  height: 35px;
  width: 45%;
  border: none;
  border-radius: 3px;
  outline: none;
}
.form-input button {
  /* background-color: red; */
  /* border: 1px solid red; */
  /* padding: 10px 5px; */
  height: 35px;
  border-radius: 3px;
  width: 100px;
  background-color: red;
  border: none;
  color: white;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.form-input button:hover {
  background-color: rgb(82, 21, 151);
  transition: 0.3s;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid black;
}

.flex-container span {
  font-size: 16px;
  padding: 20px;
  padding-right: 70px;
  padding-top: 6px;
  padding-left: 0;
  border: 1px solid black;
}

svg {
  width: 20px;
  margin: 10px;
}
img {
  width: 40px;
  height: 40px;
  margin: 10px;
}
